* {
  margin: 0;
  padding: 0;
}

a {
  color: yellow;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logo {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav {
  display: flex;
  justify-content: space-around;
  font-family: system-ui, -apple-system, helvetica, Arial, sans-serif;
  background-color: black;
  height: 8vh;
  align-items: center;
}

.BackgroundImage {
  background-image: url("../../images/banner\ portifólio.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 640px;
  width: 100%;
}

.nav-list {
  list-style: none;
  display: flex;

  li {
    letter-spacing: 3px;
    margin-left: 32px;
    color: white;
    cursor: pointer;
  }

  li:hover {
    color: yellow;
  }
}

.nav-list-Active {
  list-style: none;
  display: flex;

  li {
    letter-spacing: 3px;
    margin-left: 32px;
    color: white;
  }
}

.mobile-menu {
  display: none;
  cursor: pointer;
  div {
    width: 32px;
    height: 2px;
    background-color: #ffff;
    margin: 8px;
    transition: 0.4s ease-in;
  }
}

.SocialMedias {
  color: white;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 15px;
  .InstaLogo {
    width: 25px;
    height: 25px;
    cursor: pointer;
    color: white;
  }

  .InstaLogo:hover {
    color: rgb(241, 6, 116);
  }

  .LinkedinLogo {
    width: 25px;
    height: 25px;
    cursor: pointer;
    color: white;
  }

  .LinkedinLogo:hover {
    color: rgb(96, 150, 250);
  }

  .GitHubLogo {
    width: 25px;
    height: 25px;
    cursor: pointer;
    color: white;
  }
  .GitHubLogo:hover {
    color: white;
  }
}

@media (max-width: 1516px) {
  .BackgroundImage {
    background-image: url("../../images/banner\ portifólio\ mobile.jpg");
  }

  .nav-list {
    display: none;
  }
}
