.projectsSection {
  display: grid;
  grid-gap: 30px;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 400px);
  width: 100%;

  @media (max-width: 600px) {
    grid-template-columns: repeat(auto-fit, 300px);
  }
}
