@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap");


.AboutMeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 100%;

  h1 {
    font-size: 50px;
    color: rgb(255, 255, 255);
    font-weight: lighter;
    font-weight: 700;
    font-family: "Sen", sans-serif;
    margin-top: 80px;
    margin-bottom: 40px;
  }

  .Main {
    display: flex;
    flex-direction: row;
    width: 60%;
    background-color: rgb(75, 75, 75);
    border-radius: 5px;
    margin-bottom: 90px;
    height: 500px;

    @media (max-width: 900px) {
      display: flex;
      flex-direction: column;
      height: 600px;
      width: 80%;
    }

    .AboutMePicture {
      background-image: url("../../images/Photo\ Me.jpeg");
      border-radius: 5px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 50%;

      @media (max-width: 900px) {
        height: 40%;
        width: 100%;
      }
    }

    .AboutMeText {
      position: relative;
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 40px;
      @media (max-width: 900px) {
        width: 100%;
        gap: 60px;
        height: 30%;
        margin-top: 70px;
      }

      h1 {
        font-family: "Sen", sans-serif;
        color: yellow;
        position: absolute;
        text-align: center;
        @media (max-width: 900px) {
          display: none;
        }
      }
      p {
        padding: 20px;
        color: white;
        word-wrap: break-word;
        text-align: center;
        font-size: 20px;
        @media (max-width: 900px) {
          padding: 0;
          padding-left: 5px;
          padding-right: 5px;
          padding-bottom: 5px;
          margin-top: 20px;
        }
      }
      .SecondText {
        color: white;
        word-wrap: break-word;
        text-align: center;
        font-size: 15px;
      }
    }
  }
}
